<%= form_for(processo) do |f| %>
  <% if processo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(processo.errors.count, "error") %> prohibited this processo from being saved:</h2>

      <ul>
      <% processo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pessoa_id %>
    <%= f.text_field :pessoa_id %>
  </div>

  <div class="field">
    <%= f.label :numero_processo %>
    <%= f.text_field :numero_processo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
